<div id="search-results" class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-uppercase">{{search}}</h3>
			<hr>
			<div class="blogs">
				<div class="blog" ng-repeat="post in blogsearchresults.records">
					<h1>{{blog.record.fields.title.value}}</h1>
				</div>
			</div>
			<hr>
			<div class="posts">
				<div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="post in postsearchresults.records">
					<div class="post" ng-class="{'is_link':post.record.fields.type.value=='Link','is_post':post.record.fields.type.value=='Text'}" >
						<div ng-include="'partials/_post.html'"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="col-md-4">
			<div class="blogs">
				<div class="blog" ng-repeat="post in blogsearchresults.records">
					<h1>{{blog.record.fields.title.value}}</h1>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="posts">
				<div class="post" ng-repeat="post in postsearchresults.records">
					<div ng-include="'partials/post.html'"></div>
					<hr>
				</div>
			</div>
		</div> -->
	</div>
</div>