<div class="modal top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <!-- ng-bind-html="post.record.fields.title.value" -->
                <h4 class="modal-title">New Post</h4>
            </div>
            <div class="modal-body">
                <form>
					<div class="form-group">
						<label>Blog</label>
						<!-- <input type="checkbox" ng-true-value="1" ng-false-value="0" class="" ng-model="newpost.fields.allow_comments.value"> -->
						<select ng-model="newpost.fields.blog.value" class="form-control" ng-options="blog as blog.fields.title.value for blog in currentuser.record.fields.blogs.value">

						</select>
					</div>
					<div class="form-group">
						<label>Title</label>
						<input placeholder="Title" class="form-control" ng-model="newpost.fields.title.value">
					</div>
					<!-- <div class="form-group">
						<label>Type</label>
						<text></text>
					</div> -->
					<div class="form-group">
						<label>URL</label>
						<input placeholder="URL" ng-blur="checkURL(newpost.fields.content.link)" class="form-control" ng-model="newpost.fields.content.link.url.value">
						<input ng-show="newpost.fields.content.link.title" placeholder="Title" class="form-control" ng-model="newpost.fields.content.link.title.value">
						<input ng-show="newpost.fields.content.link.title" placeholder="Description" class="form-control" ng-model="newpost.fields.content.link.description.value">
					</div>
					<div class="form-group">
						<label>Text</label>
						<textarea placeholder="Text" class="form-control" ng-model="newpost.fields.content.text.value"></textarea>
					</div>
					<div class="form-group">
						<label>Images</label>
						<!-- multiple -->
						<input class="form-control" type="file" ng-model="newpost.fields.content.image.image.value" app-filereader>
					</div>
					<div class="form-group">
						<label>Allow Comments</label>
						<input type="checkbox" ng-true-value="1" ng-false-value="0" class="" ng-model="newpost.fields.allow_comments.value">
					</div>
					<!-- <div class="form-group">
						<label>Tags</label>
						<input placeholder="Text" type="checbox" ng-true-value="1" ng-false-value="0" class="form-control" ng-model="newbookmark.fields.allow_comments.value">
					</div> -->
				</form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary" ng-click="newPost(newpost)">Create Post</button> -->
                <div class="btn-group">
				  <button type="button" class="btn btn-info">Action</button>
				  <button ng-click="newPost(newpost,action)" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    <span class="caret"></span>
				    <span class="sr-only">Post</span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a ng-click="action = 'post'" href="#">Post</a></li>
				    <li><a ng-click="action = 'draft'" href="#">Draft</a></li>
				    <li><a ng-click="action = 'private'" href="#">Post Privatly</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Preview</a></li>
				  </ul>
				</div>
            </div>
        </div>
    </div>
</div>
